.footer-dark {
    
    color:#f0f9ff;
    background-color:#41B3A3;
    position:relative !important;
    top: -310px !important; 
  }
  
  .footer-dark h3 {
    margin-top:2px;
    margin-bottom:20px;
    font-weight:bold;
    font-size:48px;
    text-align: center;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:0.2;
    font-size:40px;
    margin-bottom:0;
    text-align: center
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  .gradient-hover::after {
    content: "";
    position: absolute;
    top:0;
    left: -2.6em;
    width: 120%;
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(255,255,255,.7), transparent) no-repeat;
    background-position: -1em 0%;
    background-size: 2.5em 100%;
    transform: skewX(-45deg);

  }
  .gradient-hover:hover::after {
    transition: 0.9s linear;
    background-position: 100% 0%;
  }