<!DOCTYPE html>
<html lang="en">
<head>
<title>INCENDOS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<pre escaped="true">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='slayder.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Genos:wght@600&family=Gideon+Roman&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<head>
<body>
<script>

$(function(){
  window.setInterval(function(){
    loadNewContent()
  }, 9000)


  // window.setInterval(function(){
  //   scrollBot()
  // }, 9500)
   
  //  function scrollBot(){
  //   updateContent.scrollTop = updateContent.scrollHeight
  //  }

   function loadNewContent(){
     $.ajax({
      url:"/updateContent",
      type: "POST",
      dataType: "json",
      success: function(data){
        $(update).replaceWith(data)
      }
     });
    //  updateContent.scrollTop = updateContent.scrollHeight
   }
  });
</script>

<div class="header">
  <h1 class="gradient-hover">INCENDOS</h1>
</div>

<div class="navbar">
  <a href="#" class='right'>User</a>
  <a href="#" class='right'>Graphs</a>
  <a href="#" class='right'>Connect OS</a>
</div>


<div class="row">
  <div class="side">
    <h2 class="center f_center">LOG FILES</h2>
    <div id="update" class="text" style="height:590px;">
    <textarea id="updateContent" readonly>
      {%- for r in results -%}
      {{r["date"][0]}} {{r["date"][1]}} {{r["date"][2]}} {{r["hostname"]}} {{r["event"]}} {{"\n\n"}}
      {%- endfor -%}
    </textarea>
    </div>
  </div>
  <div class="main">
    <body>
      <div class="adaptivSlayder">
      
        <input type="radio" name="kadoves" id="slaid1" checked>
      
        <input type="radio" name="kadoves" id="slaid2">
      
        <input type="radio" name="kadoves" id="slaid3">
      
         
      
        <div class="kadoves">
      
        <label for="slaid1"></label>
      
        <label for="slaid2"></label>
      
        <label for="slaid3"></label>
      
        </div>
      
         
      
        <div class="adaptivSlayderlasekun">
      
        <div class="abusteku-deagulus">
      
        <img src="img1.jpg"/>
      
        <img src="img2.jpg"/>
      
        <img src="img3.jpg"/>
      
        </div>
      
        </div>
      
      </div>
      
    <h2 class="tex">Host status</h2>
    <textarea class="Host" readonly>SOME TEXT ABOUT host status</textarea>
    

  </div>
</div>

<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row f_row">
  
                  <h3>
                    <img class="image" src="gh.png"></h3>
                  <ul>
                      <li><a href="https://github.com/anton-holmes">POPOV ANTON</a></li>
                      <li><a href="https://github.com/dlemmer">POPOV DANIIL</a></li>
                      <li><a href="https://github.com/AndWhoElse">MANUYLOV DANIIL</a></li>
                      <li><a href="https://github.com/KovalevKD">KOVALEV KIRILL</a></li>
                      <li><a href="https://github.com/ThanDoma">ILYA SMIRNOV</a></li>
                     
                  </ul>
             
          </div >
          
      </div>
  </footer>
</div>
</html>